:root {
    --bg: #222;
    --txt: #eee;
    --invtxt: #111;

    --depth1: #fff2;
    --depth2: #fff4;
    --depth3: #fff6;
    --depth4: #fff8;
    --depth5: #fffa;
    --depth6: #fffc;

    --color1: #113;
    --color2: #336;
    --color3: #458;
    --color4: #57a;
    --color5: #69c;
    --color6: #8bd;
    --glow: #27f;

    --xxs: 0;
    --xs: 350px;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
}